{{!-- 
   includes/head-seo.hbs

   SEO
   title  : Most important SEO tag
   description
   keywords
   author
   copyright
--}}
<title>{{#if title}}{{title}}{{else}}Mobile Development I | New Media Development | Artevelde University College Ghent{{/if}}
</title>
<meta name="description" content="{{#if description}}{{description}}{{else}}We educate future talents in Design for Print and Non-Print, Web- and App Development, Audio and Video Production, 2D- 3D Animations, Printing and Packaging and the whole Management of those Workflows.{{/if}}">
<meta name="description" content="{{#if keywords}}{{keywords}}{{else}}HTML5, CSS3, JavaScript, Sass, Handlebars, Gulp, Babel{{/if}}">
<meta name="author" content="{{#if author}}{{author}}{{else}}Artevelde University College Ghent - Bachelor in the Graphical and Digital Media | New Media Development{{/if}}">
<meta name="copyright" content="Copyright 2010-17 Artevelde University College Ghent. All Rights Reserved.">